
$primary_color_day_mode: #ffffff;
$secondary_color_day_mode: #835a5a;
$text_color_day_mode: #000000;

$primary_color_dark_mode: #606060;
$primary_color_dark_mode: #ffffff;
$text_color_dark_mode: #ffffff;



