<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Succ ma dig</title>
</head>

<body>
  <header class="header navbar d-flex flex-row justify-content-around align-items-center">
    <div class="header__title">
      Not CV
    </div>
    <ul class="header__menu d-flex flex-row">
      <li class="header__item">Item 1</li>
      <li class="header__item">Item 2</li>
      <li class="header__item">Item 3</li>
      <li class="header__item">Item 4</li>
      <li class="header__item">Item 5</li>
    </ul>
  </header>
  
  <div class="container">
    <section id="basic-info" class="basic-info d-flex">
      <img class="basic-info__avatar" src="../images/cat.jpg"/>
      <div></div>
    </section>
  </div>
</body>
</html>